@media screen and (max-width: 550px) {
    .game-board  {
    --ROW-HEIGHT: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 37rem;
    padding: 0.2rem;
  }
  .word-grid {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 1rem;

  }

  .board-row {
  display: grid;
  grid-template-columns: repeat(5, 3.3rem); /* 5 columns of 50px each */
  height: auto;
  }
  
  .score-board {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2.2rem;
  font-family: "Bitcount Prop Single", "Marvel";
  font-weight: 400;
}

.score-row {
    display: flex;
    gap:0.3rem;
    align-items: center;
    justify-content: space-between;
  }
}

.letter-score {
    background-color: lightblue;
    padding: 0.1rem 0.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 10px;

}
.position-score {
    background-color: rgb(31, 224, 144);
    padding: 0.1rem 0.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 10px;

}

.error-message, .loser-message, .winner-message {
  text-align: center;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
    .game-board  {
    --ROW-HEIGHT: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 37rem;
    padding: 0.2rem;
  }
  .word-grid {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 1rem;

  }

  .board-row {
  display: grid;
  grid-template-columns: repeat(5, 3.3rem); /* 5 columns of 50px each */
  height: auto;
  }
  .score-board {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2.2rem;
  font-family: "Bitcount Prop Single", "Marvel";
  font-weight: 400;
}

.score-row {
    display: flex;
    gap:0.3rem;
    align-items: center;
    justify-content: space-between;
  }
}

.letter-score, .position-score {
    border-radius: 10px;
    width: 1em;
    text-align: center;
}

.letter-score {
    background-color: lightblue;
}
.position-score {
    background-color: rgb(31, 224, 144);
}

@media screen and (min-width: 1000px) {
    .game-board  {
    --ROW-HEIGHT: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 37rem;
    padding: 0.2rem;
  }
  .word-grid {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 1rem;

  }

  .board-row {
  display: grid;
  grid-template-columns: repeat(5, 3.3rem); /* 5 columns of 50px each */
  height: auto;
  }
  
  .score-board {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2.2rem;
  font-family: "Bitcount Prop Single", "Marvel";
  font-weight: 400;
}

.score-row {
    display: flex;
    gap:0.3rem;
    align-items: center;
    justify-content: space-between;
  }
}

.letter-score {
    background-color: lightblue;
    padding: 0.1rem 0.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 10px;

}
.position-score {
    background-color: rgb(31, 224, 144);
    padding: 0.1rem 0.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 10px;

}

@media (max-height: 845px) {
  .game-board {
    transform: scale(75%);
    margin-top: -5rem;
  }
  .winner-message, .loser-message, .error-message {
    margin-top: -3rem;
  }
}

@media (max-height: 740px) {
  .game-board {
    transform: scale(60%);
    margin-top: -7rem;
  }
  .winner-message, .loser-message, .error-message {
    margin-top: -7rem;
  }
}

.letter-box {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(1, 41, 41);
  background-color: #b7d6bf;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.possible-match {
  color: #4f96c5;
  transition: ease-in-out;
}
.sure-match {
  background-color:  rgb(31, 224, 144);
  transition: ease-in-out;
  color: white;
}
.rejected-letter {
  background-color: #313131;
  border-color: #291f1e;
  color: rgb(133, 133, 133);
  text-decoration: line-through;
  transition: ease-in-out;
}